<header class="navbar fixed-top navbar-expand-lg header">
    <div class="container-fluid">
        <a class="navbar-brand header__logo" href="/">
            <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="40" viewBox="0 0 192 192"
                enable-background="new 0 0 192 192" xml:space="preserve">
                <path fill="transparent" opacity="1.000000" stroke="none" d="
           M1.000000,74.000000
               C1.000000,49.333340 1.000000,25.166677 1.000000,1.000013
               C64.999977,1.000009 128.999954,1.000009 192.999954,1.000004
               C192.999969,64.999962 192.999969,128.999924 192.999985,192.999908
               C129.000046,192.999939 65.000107,192.999939 1.000077,192.999969
               C1.000000,153.500000 1.000000,114.000000 1.000000,74.000000
           M74.957794,173.059891
               C73.613823,171.661743 72.523979,169.622818 70.883530,168.972229
               C62.001518,165.449707 54.031307,160.634247 46.704323,154.451859
               C18.417603,130.583954 11.418431,87.694092 31.766329,56.700336
               C49.468273,29.736870 74.574913,16.860115 107.158005,21.014734
               C130.341980,23.970886 148.302948,35.824493 161.070419,55.276409
               C170.723114,69.982750 174.854645,86.099274 173.179855,103.867851
               C172.222412,114.025917 169.449280,123.508423 164.712585,132.247726
               C155.280640,149.649857 141.042877,161.902252 122.494774,169.067520
               C121.243011,169.551102 119.394783,170.741959 119.338219,171.693832
               C119.027962,176.915588 119.190224,182.165421 119.190224,187.494690
               C151.032791,182.824509 197.773590,145.453491 190.079010,83.514122
               C185.054733,43.069847 148.423325,-0.989125 89.007729,2.998982
               C43.686932,6.041016 -0.003728,45.037746 2.940927,102.702988
               C5.216714,147.269760 40.611374,182.610489 74.281532,187.290833
               C74.461090,186.849640 74.796730,186.398804 74.807251,185.940491
               C74.898880,181.945023 74.932297,177.948227 74.957794,173.059891
           M136.009491,120.489365
               C136.950531,119.545135 137.915268,118.623222 138.828491,117.652832
               C142.826004,113.405083 143.200470,106.760834 139.655914,103.267418
               C136.081619,99.744667 130.318604,100.262970 125.916809,104.602028
               C120.577980,109.864754 115.319519,115.208961 109.986061,120.477196
               C109.040924,121.410774 107.899384,122.145523 106.000053,123.639465
               C106.000053,118.927910 106.343834,115.406952 105.924088,111.979492
               C105.189682,105.982780 107.355515,101.708641 111.729568,97.584808
               C121.907410,87.989204 131.524902,77.802086 141.550705,68.040825
               C145.047974,64.635834 144.740936,60.385117 143.402557,56.975838
               C142.520050,54.727760 138.548248,52.326160 136.056305,52.425156
               C133.004013,52.546410 129.522552,54.643795 127.151863,56.871407
               C118.171638,65.309608 109.480820,74.062813 100.846939,82.860313
               C94.247215,89.585129 85.661430,95.281181 87.442581,108.351036
               C84.420387,105.369019 82.519730,102.995140 80.149338,101.264748
               C75.984962,98.224731 74.706841,94.433685 74.890572,89.344681
               C75.256989,79.195633 75.051559,69.023331 74.965843,58.861610
               C74.918678,53.270805 71.916786,49.686466 67.081490,49.068878
               C60.554142,48.235176 57.044392,51.705929 57.027561,59.356571
               C56.972595,84.345993 56.986584,109.335640 57.018131,134.325150
               C57.026352,140.839661 59.623669,143.878555 65.029053,143.987747
               C71.760368,144.123718 74.745804,141.293243 74.967255,134.413834
               C75.071213,131.184479 74.985054,127.948982 74.985054,124.716263
               C75.441498,124.577675 75.897942,124.439087 76.354385,124.300499
               C78.249252,126.047020 80.011139,127.971825 82.065613,129.504379
               C86.918137,133.124191 88.334618,137.773895 88.129105,143.775497
               C87.701736,156.255646 87.998222,168.760620 88.000732,181.255402
               C88.002655,190.808029 88.319008,191.109238 98.153763,190.995132
               C98.820084,190.987411 99.486969,190.992615 100.152618,190.966766
               C104.010933,190.816910 106.213440,189.461899 106.077675,184.942780
               C105.797653,175.621857 106.206520,166.279861 105.910545,156.959915
               C105.767380,152.451614 107.014671,149.163589 110.342819,146.007050
               C118.922104,137.870148 127.143631,129.356049 136.009491,120.489365
           z" />
                <path class='hover-state' fill="#fff" opacity="1.000000" stroke="none" d="
           M74.970398,173.505859
               C74.932297,177.948227 74.898880,181.945023 74.807251,185.940491
               C74.796730,186.398804 74.461090,186.849640 74.281532,187.290833
               C40.611374,182.610489 5.216714,147.269760 2.940927,102.702988
               C-0.003728,45.037746 43.686932,6.041016 89.007729,2.998982
               C148.423325,-0.989125 185.054733,43.069847 190.079010,83.514122
               C197.773590,145.453491 151.032791,182.824509 119.190224,187.494690
               C119.190224,182.165421 119.027962,176.915588 119.338219,171.693832
               C119.394783,170.741959 121.243011,169.551102 122.494774,169.067520
               C141.042877,161.902252 155.280640,149.649857 164.712585,132.247726
               C169.449280,123.508423 172.222412,114.025917 173.179855,103.867851
               C174.854645,86.099274 170.723114,69.982750 161.070419,55.276409
               C148.302948,35.824493 130.341980,23.970886 107.158005,21.014734
               C74.574913,16.860115 49.468273,29.736870 31.766329,56.700336
               C11.418431,87.694092 18.417603,130.583954 46.704323,154.451859
               C54.031307,160.634247 62.001518,165.449707 70.883530,168.972229
               C72.523979,169.622818 73.613823,171.661743 74.970398,173.505859
           z" />
                <path class='hover-state' fill="#fff" opacity="1.000000" stroke="none" d="
           M135.758789,120.741005
               C127.143631,129.356049 118.922104,137.870148 110.342819,146.007050
               C107.014671,149.163589 105.767380,152.451614 105.910545,156.959915
               C106.206520,166.279861 105.797653,175.621857 106.077675,184.942780
               C106.213440,189.461899 104.010933,190.816910 100.152618,190.966766
               C99.486969,190.992615 98.820084,190.987411 98.153763,190.995132
               C88.319008,191.109238 88.002655,190.808029 88.000732,181.255402
               C87.998222,168.760620 87.701736,156.255646 88.129105,143.775497
               C88.334618,137.773895 86.918137,133.124191 82.065613,129.504379
               C80.011139,127.971825 78.249252,126.047020 76.354385,124.300499
               C75.897942,124.439087 75.441498,124.577675 74.985054,124.716263
               C74.985054,127.948982 75.071213,131.184479 74.967255,134.413834
               C74.745804,141.293243 71.760368,144.123718 65.029053,143.987747
               C59.623669,143.878555 57.026352,140.839661 57.018131,134.325150
               C56.986584,109.335640 56.972595,84.345993 57.027561,59.356571
               C57.044392,51.705929 60.554142,48.235176 67.081490,49.068878
               C71.916786,49.686466 74.918678,53.270805 74.965843,58.861610
               C75.051559,69.023331 75.256989,79.195633 74.890572,89.344681
               C74.706841,94.433685 75.984962,98.224731 80.149338,101.264748
               C82.519730,102.995140 84.420387,105.369019 87.442581,108.351036
               C85.661430,95.281181 94.247215,89.585129 100.846939,82.860313
               C109.480820,74.062813 118.171638,65.309608 127.151863,56.871407
               C129.522552,54.643795 133.004013,52.546410 136.056305,52.425156
               C138.548248,52.326160 142.520050,54.727760 143.402557,56.975838
               C144.740936,60.385117 145.047974,64.635834 141.550705,68.040825
               C131.524902,77.802086 121.907410,87.989204 111.729568,97.584808
               C107.355515,101.708641 105.189682,105.982780 105.924088,111.979492
               C106.343834,115.406952 106.000053,118.927910 106.000053,123.639465
               C107.899384,122.145523 109.040924,121.410774 109.986061,120.477196
               C115.319519,115.208961 120.577980,109.864754 125.916809,104.602028
               C130.318604,100.262970 136.081619,99.744667 139.655914,103.267418
               C143.200470,106.760834 142.826004,113.405083 138.828491,117.652832
               C137.915268,118.623222 136.950531,119.545135 135.758789,120.741005
           z" />
            </svg>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div id="navigation" class="header__list navbar-nav">
                <a class="nav-link" href="/" aria-current="">Home</a>
                <a class="nav-link" href="/wizard.html" data-navigation="wizard" aria-current="">Wizard</a>
                <a class="nav-link" href="/qrcode.html" data-navigation="qrcode" aria-current="">Qr Code</a>
                <a class="nav-link" href="/giphy.html" data-navigation="giphy" aria-current="">Giphy</a>
                <a class="nav-link" href="/csvTojson.html" data-navigation="csvTojson" aria-current="">CSV to JSON</a>
                <a class="nav-link" href="/password.html" data-navigation="password" aria-current="">Mot de passe</a>
            </div>
        </div>
        <div class='header__git'>
            <span><i class="fa-solid fa-code-branch"></i></span>
            <span id="currentBranchGit"></span>
        </div>
    </div>
</header>
