input {
    &[type="password"] {
        &~#range {
            display: flex;
            align-items: center;
            gap: 1rem;
            width: 100%;
            height: 1rem;
            margin: 1rem 0;
            border-radius: 0.5rem;
            background-color: var(--primary);

            &::after {
                content: "";
                width: 0%;
                height: inherit;
                border-radius: inherit;
                transition: all 0.4s;

                background-color: var(--range-background);
                width: var(--range-width);
            }
        }
    }
}