/* *********************** Header *********************** */
.header {
    background-color: var(--primary);

    &__logo {
        svg {
            &:hover {
                path.hover-state {
                    fill: var(--tertiary);
                }
            }
        }
    }

    &__list {
        padding-left: 1rem;
        gap: 2rem;

        .nav-link {
            color: var(--light);
            position: relative;

            &:hover:not(.active) {
                color: var(--tertiary);
                transform: translateY(-0.2rem);
            }

            &.active {
                font-weight: bold;
                color: var(--tertiary);

                &::after {
                    content: "";
                    display: block;
                    position: absolute;
                    left: 0;
                    bottom: -1.2rem;
                    width: 100%;
                    height: 0.5rem;
                    background-color: var(--tertiary);
                }
            }
        }
    }

    &__git {
        padding: 0.5rem 1rem;
        border-radius: 0.5rem;
        font-weight: bold;
        color: var(--primary);
        background: var(--tertiary-light);
    }

    @media (max-width: 992px) {
        &__list {
            padding-top: 1rem;

            .nav-link {
                &:hover:not(.active) {
                    transform: none;
                }

                &.active {
                    padding-left: 1.5rem;

                    &::after {
                        top: 0;
                        width: 0.5rem;
                        height: 100%;
                        left: 0;
                    }
                }
            }
        }

        &__git {
            display: none;
        }
    }
}

.aside {
    &__wrapper {
        display: flex;
        flex-direction: column;
        height: 100vh;
        box-shadow: 0 25.6px 57.6px rgb(0 0 0 / 22%), 0 4.8px 14.4px rgb(0 0 0 / 18%);
        border-top-right-radius: 4rem;
        border-bottom-right-radius: 4rem;

        &__navigation {
            display: flex;
            height: 100%;

            &__icons {
                display: flex;
                flex-direction: column;
                gap: 2rem;
                padding-top: 2rem;
                border-radius: 5rem;
                background-color: var(--primary);

                button {
                    position: relative;
                    padding: 1rem;
                    border: none;
                    font-size: 1.8rem;
                    background-color: transparent;

                    &:hover {
                        color: var(--light);
                        background-color: var(--secondary);
                    }

                    &.active {
                        color: var(--light);

                        &::after {
                            content: "";
                            position: absolute;
                            top: 0;
                            right: 0;
                            height: 100%;
                            width: 0.5rem;
                            background-color: var(--light);
                        }
                    }
                }
            }
        }
    }
}
