////Colors
:root {
    --light: #ffffff;
    --dark: #3A4856;
    --primary: #2c4255;
    --primary-light: #415566;
    --primary-dark: #273a4b;
    --secondary: #009dd1;
    --secondary-light: #1aa7d6;
    --secondary-dark: #008ab8;
    --tertiary: #E94C13;
    --tertiary-light: #f0825a;
    --tertiary-dark: #d24513;
}

$font-01: "Poppins",
sans-serif;
$font-02: "Barlow",
sans-serif;
$font-03: "Oleo Script Swash Caps",
sans-serif;
$font-04: "Galada",
sans-serif;

/// Breakpoints map
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;
$breakpoint-xxl: 1620px;


/// Relative or absolute URL where all assets are served from
/// @type String
/// @example scss - When using a CDN
///   $base-url: 'http://cdn.example.com/assets/';
$base-url: '/assets/' !default;