/* *********************** global *********************** */
* {
    margin: 0;
    padding: 0;
    list-style: none;
    border: 0;
    text-decoration: none;
    box-sizing: border-box;

    &:focus {
        outline: 0;
    }
}

html {
    scroll-behavior: smooth;
    font-size: 10px;
}

body {
    margin-top: 8rem;
    font: normal 1.6rem / 1.4 $font-01;
}

//override boostrap
.img-thumbnail-override {
    padding: 0.25rem;
    background-color: #fff;
    border: 1px solid var(--bs-border-color);
    border-radius: 0.375rem;
    max-width: 100%;
    object-fit: cover;
    object-position: center;
}
